.breadcrumb{
    font-size: 13px;
    background: rgba(247, 247, 247, 0.98);
    color: #999;
    .block-inner{
        margin: 0 auto;
        text-align: left;
        padding: 5px 15px;
        a{
            color: inherit;
            &::after{
                content: " / ";
            }
        }
        span{
            color: $contrast;
            font-weight: bold;
        }
    }
}