.LoadingPage{
  .loading{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $primary;
    z-index: 2000;
    &.open{
    display: block
    }
    .section{
      width: 100%;
      position: absolute;
      top: 43%;
      left: 50%;
      transform: translate(-50%,-43%);
      color: $secondary;
      font-weight: 900;
      span{
        position: relative;
        font-family: 'Yellowtail', cursive;
        font-size: 40px;
        font-weight: bold;
        color: $secondary;
        &::after{
          content: '™';
          font-family: 'Noto Sans TC';
          font-size: 12px;
          position: absolute;
          top: 0;
          right: -20px;
        }
      }
      svg path,
      svg rect{
        fill: $secondary;
      }
    }
  }
}