.swiper {
    position: relative;
    width: 100%;
    height: 275px;
    padding-bottom:  50px;
    .swiper-wrapper{
        .swiper-slide {
          display: flex;
          align-items: center;
            figure{
                width: 100%;
                height: 100%;
                max-width: 200px;
                max-height: 200px;
                border-radius: 50%;
                overflow: hidden;
                margin: 0 auto;
                cursor: pointer;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
      @media (max-width: 1024px) {
        .swiper-slide figure{
          max-width: 180px;
          max-height: 180px;
        }
      }
    }
    .swiper-button-prev,
    .swiper-button-next {
        display: inline-block;
        transform: translate(0,-50%);
        box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.2);
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        text-align: center;
        background: #ffffff;
        opacity: 0.8;
        transition: 0.25s ease-in-out;
    }
    .swiper-button-prev:after,
    .swiper-button-next:after {
        vertical-align: middle;
        text-align: center;
        font-size: 1rem;
        line-height: 2rem;
        color: $primary;
    }
    .swiper-button-prev:hover,
    .swiper-button-next:hover {
        transform: scale(1.2) translateY(-1rem);
        opacity: 1;
        box-shadow: 1px 1px 2px 0.5px rgba(0,0,0,0.3);
    }
    .swiper-button-prev:focus,
    .swiper-button-next:focus {
        outline: none;
    }
    .swiper-button-prev {
        top: 50%;
        left: 2px;
    }
    .swiper-button-next {
        right: 2px;
        top: 50%;
    }
    .swiper-pagination{
        position: absolute;
        bottom: 0px;
        .swiper-pagination-bullet-active{
        width: 10px;
        height: 10px;
        background: $primary;
        }
    }
}