.Checkout{
  counter-reset: step;
  .checkContent{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    .customerForm{
      width: 100%;
      margin: 0 auto;
      border: 1px solid #EDEDED;
      input::placeholder{
        font-size: 13px;
      }
      .form-control:focus, .btn:focus{
        border: 1px solid #ced4da;
        box-shadow: none;
      }
      form{
        padding: 24px;
        text-align: left;
        label{
          position: relative;
          .asterisk{
            color: #800000;
            font-weight: bold;
            padding-bottom: 10px;
            position: absolute;
            top: -5px;
            right: -10px;
          }
        }

        .footer{
          position: relative;
          .footBtn{
            position: absolute;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            bottom: 0;
            right: 0;
            padding: 0 5px;
            .btn{
              background: $primary;
              color: #fff;
            }
          }
        }
      }
    }
  }
}
