.Index {
  font-family: Arial;
  .title{
    color: $primary;
    display: inline-block;
    font-weight: bold;
    padding: 10px;
    span{
      position: relative;
      &::before{
        position: absolute;
        bottom: 0;
        transform: translateX(50%);
        content: "";
        width: 50%;
        height: 2px;
        background: $primary;
        margin-bottom: -10px;
      }
    }
  }
  .banner{
    width: 100%;
    background: url('https://images.unsplash.com/photo-1543353071-873f17a7a088?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
  }
  .aboutUs{
    width: 100%;
    margin: 60px 0;
    .column_title{
      display: none;
    }
    .content{
      display: flex;
      justify-content: space-between;
      text-align: left;
      .col-lg-5{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .btn{
        float: right;
        border: 1px solid $contrast;
        color: #fff;
        color: $contrast;
        font-weight: bold;
        border-radius: 50px;
        padding: 5px 30px;
        &:hover{
          background: $contrast;
          color: #fff;
        }
      }
      figure{
        width: 100%;
        max-height: 390px;
        height: 100%;
        overflow: hidden;
        &::before{
          content: "";
          width: 30%;
          height: 20px;
          position: absolute;
          background: $primary;
        }
        &::after{
          content: "";
          width: 20px;
          height: 70%;
          position: absolute;
          left: 0;
          top: 0;
          background:$primary;
        }
      }
      img{
        padding: 10px;
        width: 100%;
        height: 100%;
        margin: 20px;
      }
    }
    @media screen and (max-width: 996px) {
      .column_title{
        display:block;
        margin-bottom: 16px;
        font-size: 24px;
      }
      .content{
        flex-direction: column;
        text-align: center;
        .title{
          display: none;
        }
        figure{
          &::before, &::after{
          display: none;
          }
          img{
            padding: 0;
            margin: 0 0 16px;
          }
        }
        .btn{
          float: unset;
          margin: 0;
        }
      }
    }
  }

  .selected{
    background: url(https://images.unsplash.com/photo-1516594798947-e65505dbb29d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80) center center no-repeat;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 48px;
    .section{
      background: #2647105a;
      margin: 0 auto;
      font-family: Arial;
      font-weight: bold;
      width: 100%;
      height: 100%;
      max-height: 190px;
      padding: 40px 0;
      overflow: hidden;
      div{
        color: #fff;
        font-size: 40px;
        text-shadow: 1px 1px rgba(0, 0, 0, 0.3), 2px 2px rgba(0, 0, 0, 0.3), 3px 3px rgba(0, 0, 0, 0.3),
        4px 4px rgba(0, 0, 0, 0.3), 5px 5px rgba(0, 0, 0, 0.3), 6px 6px rgba(0, 0, 0, 0.3);
        margin-bottom: 8px;
      }
       p{
        display: inline;
        margin: 0 auto;
        padding: 5px 30px;
        color: #fff;
        background: #800000d0;
        border-radius: 50px;
      }
    }
    .content{
      width: 100%;
      // max-width: 1440px;
      height: 350px;
      background: rgba(255, 255, 255, 0.9);
      display: flex;
      align-items: center;
      justify-content: space-around;
      .contentSction{
        font-family: Arial;
        width: 100%;
        max-width: 350px;
        margin: 0 10px;
        figure{
          max-width: 150px;
          width: 100%;
          height: 150px;
          border-radius: 50%;
          background: #264710;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0 0 10px;
          margin: 0 auto;
          img{
            width: 100%;
            max-width: 75px;
          }
        }
      }
    }
    @media screen and (max-width: 767px) {
      .content{
        flex-direction: column;
        padding: 0;
        .contentSction{
          display: flex;
          align-items: center;
          figure{
            width: 100px;
            height: 100px;
            margin: 0 10px;
            img{
              width: 50px;
            }
          }
          p{
            display: none;
          }
        }
      }
    }
  }
  .category {
    width: 100%;
    display: flex;
    justify-content: space-between;;
    .cardList {
      position: relative;
      width: 30%;
      height: 300px;
      padding: 60px 0;
      border: none;
      cursor: pointer;
      overflow: hidden;
      &:hover span{
        opacity: 0;
      }
      &:hover .bg{
        opacity: 1;
        & img{
            transform: scale(0.6);
        }
      }
      .bg{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        opacity: 0;
        transition: all 0.5s ease-out;
        background: #264710e6;
        color: white;
        img{
          width: 60%;
          height: 60%;
          transition: all 0.5s ease-out;
        }
      }
      span{
        display: block;
        color: $secondary;
        font-size: 100px;
        font-family: Yellowtail, cursive;
        font-weight: bold;
        transition: 0.5s ease-out;
        text-shadow: 1px 1px rgba(0, 0, 0, 0.3), 2px 2px rgba(0, 0, 0, 0.3), 3px 3px rgba(0, 0, 0, 0.3),
        4px 4px rgba(0, 0, 0, 0.3), 5px 5px rgba(0, 0, 0, 0.3), 6px 6px rgba(0, 0, 0, 0.3);
      }
      &.lunchbox {
        background: url('https://images.unsplash.com/photo-1570078420152-d016091ec97a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80') no-repeat
          center center;
        background-size: cover;
      }
      &.sousvide{
        background: url('https://hexschool-api.s3.us-west-2.amazonaws.com/custom/H5qxPcglJ1S9RagBQnAT7pKkMgbFlgu7BRyydNvHaPhVkTnuXG6NLduRdk3zsHrfOKTpUzN2rCye7HTKc3JOkCBTe4XiX3fasKdKaM00jWOjiPcvPbxA8IXlPm1RleCK.jpg') no-repeat
          center center;
        background-size: cover;
        span{
          line-height: 80px;
        }
      }
      &.salad {
        background: url('https://images.unsplash.com/photo-1551248429-40975aa4de74?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80') no-repeat
          center center;
        background-size: cover;
      }
    }

    @media screen and (max-width: 1023px) {
      .cardList{
        height: 150px;
        padding: 0;
        pointer-events: none;
        span{
          font-size: 60px;
          line-height: 150px;
        }
        &.sousvide span:nth-child(2){
          line-height: 45px;
        }
      }
    }
    @media screen and (max-width: 767px) {
      flex-direction: column;
      .cardList{
        width: 100%;
        margin: 10px 0;
        span{
          font-size: 80px;
        }
      }
    }
  }
  .subscription{
    background: url("https://images.unsplash.com/photo-1519897831810-a9a01aceccd1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80") center center no-repeat;
    width: 100%;
    max-height: 300px;
    background-attachment: fixed;
    background-size: cover;
    padding: 51px 0;
    filter: saturate(80%);
    .content{
      width: 100%;
      max-width: 500px;
      margin: 0 auto;
      background: rgba(255, 255, 255, 0.8);
      color: $primary;
      padding: 30px;
      font-size: 28px;
      font-weight: bold;
      .btn{
        background: $primary;
        color: #fff;
      }
    }
    @media screen and (max-width: 767px) {
      .content{
        font-size: 16px;
      }
    }
  }
}