.Products{
  &.high{
    min-height: 3000px;
  }
  .joinMsg{
    position: fixed;
    top: 71px;
    right: -350px;
    padding: 5px 10px;
    color: white;
    background: #3A602F;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.06);
    transition: all 0.5s ease-out;
    font-size: 13px;
    &.open{
      right: 10px;
    }
  }
  .banner{
    position: relative;
    background: url('https://images.unsplash.com/photo-1543353071-10c8ba85a904?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjI0MX0&auto=format&fit=crop&w=1500&q=80') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
  }
  .ProductsRow{
    justify-content: center;
    .navigationBar{
      width: 100%;
        ul{
          display: block;
          width: 100%;
          display: flex;
          justify-content: center;
          li{
            margin: 0 20px;
            .btn{
              display: block;
              border-radius: 50px;
              color: white;
              background: $primary;
              padding: 5px 30px;
              &.active{
                background: $contrast;
              }
            }
          }
        }
      @media screen and (max-width: 991px) {
        ul li{
          margin: 0 auto;
          .btn{
            padding: 5px 20px;
          }
        }
      }
      @media screen and (max-width: 768px) {
        ul {
          flex-direction: column;
          li .btn{
            padding: 5px 70px;
            margin: 5px 0;
          }
        }
      }
    }
    .circle{
      margin: 50px 0;
      figure{
        position: relative;
        box-sizing: content-box;
        width: 100%;
        height: 100%;
        max-width: 250px;
        max-height: 250px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto;
        box-shadow: 1px 1px 10px -1px rgba(0, 0, 0, 0.524);
        &:hover img{
          filter:brightness(20%);
        }
        &:hover .imgHover,&:hover .itemPrice{
          opacity: 1;
          color:white
        }
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: 0.3s;
          -webkit-user-drag: none;
        }
        .itemPrice{
          position: absolute;
          left: 50%;
          top:50%;
          transform: translate(-50%, -50%);
          opacity: 0;
          text-align: center;
        }
      }
      .btn{
        background: transparent;
        border: 1px solid $primary;
        color: $primary;
        border-radius: 50px;
        padding: 5px 30px;
        &:hover{
          color: white;
          background: $primary;
        }
      }
    }
    @media screen and (max-width: 768px) {
      .circle{
        padding: 0;
        figure{
          height: 200px;
          width: 200px;
        }
      }
    }

  }
  .Pagination {
    border-radius: 50px;
    .page-link {
      color: $primary;
      &:focus {
        box-shadow: none;
      }
    }
    .active .page-link, .page-link:hover {
      color: #fff;
      background-color: $primary;
      border-color: $primary;
    }
    ul{
      margin: 72px 0;
    }
  }

}