.adminCoupons{
  .countdown{
    color: green;
  }
  .deadline{
    color: red;
  }
  .box {
    cursor: pointer;
    box-sizing: border-box;
    width: 60px;
    height: 30px;
    background-color: #ebaca3;
    border-radius: 35px;
    transition: 0.3s;
    &.open {
      background-color: #afddae;
    }
    &.deadline{
      cursor: not-allowed;
    }
  }
  .circle {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    background-color: #dc3545;
    border-radius: 50%;
    transition: 0.3s;
    &.open {
      background-color: #28a745;
      margin-left: 30px;
    }
  }

}